// 全局变量
$ydj-primary-first: #fd7598;
$ydj-primary-second: #ff9cb6;
$ydj-primary-third: #ffd0dc;
$ydj-secondary-first: #ff838f;
$ydj-secondary-second: #ffd300;
$ydj-secondary-third: #df8af0;
$ydj-secondary-forth: #ffab6b;
$ydj-secondary-fifth: #ff1515;
$ydj-text-first: #202133;
$ydj-text-second: #666;
$ydj-text-third: #9a9a9a;
$ydj-text-forth: #aa9aa8;
$ydj-text-fifth: #ccc;
$ydj-line: #e8e8e8;
$ydj-bg: #f5f5f5;

$z-index: 9999;
@mixin ydj-title {
  padding: 40rpx 28rpx 20rpx;
  color: #888;
  font-size: 32rpx;
}

@mixin ydj-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
