$ydjMainPrimary: (
    first: #fd7598,
    second: #ff9cb6,
    third: #ffd0dc
);

$ydjSecondary: (
    pink: #ff838f,
    yellow: #ffd300,
    purple: #df8af0,
    brown: #ffab6b,
    red: #ff1515
);

$ydjText: (
    first: #202133,
    second: #666,
    third: #9a9a9a,
    forth: #aa9aa8,
    fifth: #ccc
);

$ydjLine: #e8e8e8;

$ydjBg: #f5f5f5;
